<div class="index_pan">
    <div class="blog-title">
        <h1><%= config.title %></a></h1>
    </div>
    <div class="posts">
        <%- include('_partial/posts.ejs') %>
        <%- include('_partial/newpage.ejs', {index: true}) %>


    </div>

</div>
