<!DOCTYPE html>
<html>
<head>
    <title><%= config.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <!-- and it's easy to individually load additional languages -->
    <script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
    <link
    rel="stylesheet"
    href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css"
    />
    <script>hljs.highlightAll();</script>
    <script>hljs.addPlugin(new CopyButtonPlugin());</script>

    <%- css('css/style.css') %>

    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin-left: 22%;
            margin-top: 6%;

            padding: 45px;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
    </style>
</head>

<body>
    <%- include('_partial/header.ejs') %>
    <%- body %>
</body>
</html>