.header 
    display: inline
    text-align: center
    margin-top: 0
    height: 50px
    font-size: 1.5rem

    .navbar-right
        line-height: 2.4em
        display: inline
        margin-left: 47%

        .nav-links
            display: inline
            padding: 0
            line-height: 50px
            
            .nav-link
                width: 80px 
                padding: 0 6px
                font-weight: bold
                display: inline
                a
                    color:  color-font  
                    &:hover
                        color: color-meta  

    .navbar-left
        padding: 0
        line-height: 50px
        margin-left: 40px
        width: 40%
        display: inline
        .avatar
            margin-left: 18%
            border-radius: 18px
            float: left
            height: 40px
            margin-right: -18px;

            img
                border-radius: 100%
                display: block
                height: 38px
                margin-top: 12px
                width: 38px
                
        .nav-title
            display: inline
            height: 100%
            line-height: 50px
            font-weight: bold
            margin-bottom: 20px
            font-family: math
            a
                color:  color-font  
                &:hover
                    color: color-meta  
