.post 
    a 
        text-decoration: none
        color: color-font
     
        &:hover 
            text-decoration: underline
            color: pink
        
.posts
    margin: 0
    padding: .5em 2rem
span.post-title-date{
    float: right;
}
div.post{
    margin:10px;
}
.postlist
    padding: 2rem 2rem

.blog-title
    text-align: center
    font-size: 1em
    margin: .8em 0
    font-weight: bold

.index_pan
    max-width: 54%
    margin: 0 auto;
    padding: 4rem 2rem;