ol.toc {
    height: 85vh;
    min-width: 130%;
    overflow: auto;
}

div.toc_left {
    margin: 0;
}

/* 滚动条的整体样式 */
ol.toc::-webkit-scrollbar {
    width: 8px;
    /* 滚动条宽度 */
}

/* 滚动条轨道样式 */
ol.toc::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* 轨道背景颜色 */
}

/* 滚动条滑块样式 */
ol.toc::-webkit-scrollbar-thumb {
    background-color: #b3b1b1;
    /* 滑块颜色 */
    border-radius: 4px;
    /* 滑块圆角 */
}

/* 鼠标悬停在滚动条上时的样式 */
ol.toc::-webkit-scrollbar-thumb:hover {
    background-color: #a2a0a0;
    /* 悬停时的滑块颜色 */
}

.toc-child
    padding-left: 20px
